<%= form_for(@vuelo) do |f| %>
  <% if @vuelo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vuelo.errors.count, "error") %> prohibited this vuelo from being saved:</h2>

      <ul>
      <% @vuelo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <div class="form-group">
     <%= f.label :descripcion%>
     <%= f.text_field :descripcion %>
  </div>
  <div class="form-group">
    <%= f.label :ciudad_destino %><br>
    <%= f.text_field :ciudad_destino %>
  </div>
  <div class="form-group">
    <%= f.label :ciudad_origen%><br>
    <%= f.text_field :ciudad_origen %>
  </div>
  <div class="form-group">
    <%= f.label :fecha_salida %><br>
    <%= f.datetime_select :salida %>
  </div>
  <div class="form-group">
    <%= f.label :fecha_llegada %><br>
    <%= f.datetime_select :llegada %>
  </div>
  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>
